<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymleaf.org ">
<head>
  <meta charset="UTF-8">
  <title>Student Management System</title>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>
<nav class="navbar navbar-expand-md bg-dark navbar-dark" style="position:fixed; width:100%; z-index:10;">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Food Management System</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/foods/new}">Add Food</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<body style="background-color:#fff;">
<h2 style="text-align:center; margin-top:50px;">Food Details</h2>
<div style="display:flex; align-item:center; justify-content:flex-start; flex-wrap:wrap; margin-top:40px; margin-bottom:40px; padding:10px;">
  <div th:each="foods: ${food}">
    <div class="card" style="width: 17.35rem; height:385px; display:block; margin-left:12px; margin-right:12px; margin-bottom:20px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
      <img class="card-img-top" style="height:250px;" th:src="@{|data:image/png;base64,${foods.image != null ? imageUtils.encodeImage(foods.image) : ''}|}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text" th:text="${foods.name}" style="font-size:20px; text-align:left; margin-top:-15px;"></p>
        <p class="card-text" th:text="'Rs:' + ${foods.price}" style="font-size:20px; text-align:left; margin-top:-15px; color:#A020F0"></p>
      </div>
    </div>
  </div>
</div>
</body>
</html>


