<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Food Management System</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
  <style>
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.content {
  position: absolute;
  top: 61%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(100, 100, 100, 0.8);
  width:100%;
  text-align:center;
  color: #f1f1f1;
  padding: 20px;
}
  </style>
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark" style="z-index:10;">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Home</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/foods/all}">Foods</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/register}">Register</a>
      </li>
    </ul>
  </div>
</nav>
  <video autoplay muted loop id="myVideo">
    <source src="/food2.mp4" type="video/mp4">
  </video>
<div class="content">
  <p style="font-size:120px; font-weight:bold; color:#fff; width:100%; text-align: center; margin-bottom:-10px;">Food Mania</p>
  <p style="font-size:20px; color:#fff; letter-spacing:35px; margin-top:-50px; margin-left:30px;">Taste you Tasty</p>
</div>
</body>
</html>
